html {
  --red: #ff5000;
  --salmon: #ffdbd0;
  --pink: #ffdbd0;
  --beige: #f7f0f0;
  --white: #f7eff0;
  --material-border: 0.5px solid #e9e9e9;
  --letter: #212121;
  --letterLigth: #607D8B;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
}

header {
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 0 32px;
  box-shadow: rgb(219 219 219 / 25%) 0px 4px 4px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.logo-header{
  height: 50%;

}

select {
  border: none;
  width: 50%;
  margin: 0 0 0 32px;
  height: 40px;
  border-radius: 8px;
  
}

.selectFilter{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 20px 8px 0;
}

.cardContainer{
  margin-top: 100px;
  padding: auto;
}

.container-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--letterLigth);
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 250px;
  min-height: 300px;
  border-radius: 16px;
  border: var(--material-border);
  color: var(--letter);
  padding: 16px;
  box-shadow: rgb(219 219 219 / 25%) 0px 4px 4px;
}

h3 {
  font-size: 1rem;
  color: var(--red);
}

h4 {
  font-size: 0.75rem;
  font-weight: none;
  color: var(--letterLigth);
}

img{
  width: 100%;
  height: 20%;
}

.container-pagination{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-link{
  color: var(--red);
}

.page-item.active .page-link {
  color: var(--letter);
  background-color: var(--salmon);
  border-color: var(--salmon);
}

.footer-container{
  background-color: var(--white);
  color: var(--red);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

@media only screen and (min-width: 600px) {
  .cardContainer{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  img {
    height: 40% ;
  }

  .container-pagination{
    justify-content: center;
    flex-direction: row;
  }
}
